.hgignore
node_modules
.c9
.DS_Store
Thumbs.db

# C/C++
*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.exe
*.out
*.app
install_manifest.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Python
*.py[cod]
.installed.cfg
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml

# Ruby
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
**.orig
rerun.txt
pickle-email-*.html
*.gem
*.rbc
.bundle
.config
InstalledFiles
spec/reports
test/tmp
test/version_tmp
.yardoc
_yardoc